.title {
  color: var(--white);
  text-align: center;
  font-family: "Clash Grotesk";

  font-size: clamp(32px, 6vw, 64px);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.container {
  overflow: hidden;
  padding: 0 80px;
}
@media (max-width: 768px) {
  .container {
    padding: 0 32px;
  }
}
