.bySaltButton {
  display: flex;
  align-items: center;

  /* border: 2px solid var(--main, #963488);
  background: rgba(2, 4, 9, 0.2); */

  background: linear-gradient(rgb(2, 4, 9), rgb(2, 4, 9)) padding-box,
    linear-gradient(to right, #b53ea4 3.07%, #fc6f32 47.61%, #ff4a59 93.05%)
      border-box;
  border-radius: 91px;
  border: 2px solid transparent;

  padding: 22px 48px;
  width: fit-content;
  height: 75px;

  color: var(--white);

  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}

.bySaltButton:hover {
  /* border: 2px solid var(--main, #963488); */
  background: var(--button-gradient);
}

@media (max-width: 768px) {
  .bySaltButton {
    padding: 14px 26px;
    font-size: 16px;
    height: 55px;
  }
}
@media (max-width: 480px) {
  .bySaltButton {
    padding: 12px 11px;
    font-size: 13px;
    height: 55px;
  }
}
