.heroSlide {
  height: 100vh;
  min-width: 360px;
  max-width: 1920px;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
}

.heroTitle {
  font-family: "Clash Grotesk";

  font-size: clamp(32px, 6vw, 128px);

  min-width: 320px;
  max-width: 1629px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;

  margin-top: calc(100vh / 3.5);

  background: var(--title-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  transition: margin-top 0.6s ease, background 0.6s ease,
    -webkit-text-fill-color 0.6s ease;
}

.heroTitlSecondState {
  margin-top: calc(100vh / 6);

  background: var(--title-second-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.linksWraper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tryNow {
  margin-left: 56px;

  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  color: var(--white);
  text-decoration: none;

  width: 96px;
  height: 29px;

  transition: background 0.5s ease, -webkit-text-fill-color 0.5s ease;
}

.tryNow:hover,
.tryNow:focus {
  background: var(--button-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  margin: 36px 0px;
  color: var(--white);
  font-family: Inter;
  font-size: clamp(12px, 4vw, 24px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.horizontalList {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  width: 80%;
  max-width: 1200px;
}

.horizontalList.visible {
  opacity: 1;
  transform: translateY(0);
}

.listItem {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 20px;
  margin: 0 10px;
  text-align: center;
  color: var(--white);
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item1 {
  transition-delay: 0.1s;
}

.item2 {
  transition-delay: 0.2s;
}

.item3 {
  transition-delay: 0.3s;
}

@media (max-width: 768px) {
  .heroSlide {
    padding: 0 32px;
  }
  .heroTitle {
    margin-top: calc(100vh / 3);
  }

  .description {
    font-size: 14px;
    margin: 14px 0px;
  }

  .heroTitlSecondState {
    margin-top: calc(100vh / 8);
  }
  .horizontalList {
    width: 100%;
  }
  .listItem {
    height: 150px;
    padding: 10px;
  }

  .tryNow {
    margin-left: 26px;
    font-size: 16px;
  }
}
