.list {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  gap: 32px;
  justify-content: center;
  align-items: center;
  /* padding: 0 16px;  */
}

.listitem {
  display: flex;
  /* width: 564.317px; */
  width: calc((100% - 96px) / 3);

  padding: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-shrink: 0;

  border-radius: 91px;
  background: linear-gradient(
    106deg,
    rgba(150, 52, 136, 0.2) 0.15%,
    rgba(252, 111, 50, 0.2) 130.58%,
    rgba(255, 74, 89, 0.2) 263.64%
  );

  opacity: 0;
  transform: translateY(60px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.value {
  color: #fff;

  text-align: center;
  font-family: Inter;
  font-size: clamp(32px, 6vw, 64px);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.description {
  color: #fff;

  font-family: Inter;
  font-size: clamp(16px, 3vw, 18px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Появление */
.showitem {
  opacity: 1;
  transform: translateY(0);
}

/* Задержка появления */
.item1 {
  transition-delay: 0.2s;
}

.item2 {
  transition-delay: 0.4s;
}

.item3 {
  transition-delay: 0.6s;
}

@media (min-width: 360px) {
  .list {
    flex-direction: column;
    margin-top: 40px;
    gap: 8px;
  }
  .listitem {
    width: 100%;
    padding: 12px;
    gap: 8px;
  }

  .value {
    font-size: clamp(24px, 6vw, 64px);
  }
}

@media (min-width: 768px) {
  .list {
    flex-direction: column;
  }

  .value {
    font-size: clamp(16px, 4vw, 64px);
  }
}

@media (min-width: 1024px) {
  .list {
    flex-direction: row;
    gap: 32px;
  }
  .listitem {
    width: calc((100% - 96px) / 3);
  }

  .value {
    font-size: clamp(16px, 4vw, 64px);
  }

  .description {
    font-size: clamp(18px, 2vw, 24px);
  }
}
